<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>게시글 페이지</title>
</head>
<body>

<header id="header"></header>

<main>
  <header>
    <h1>첫번째 </h1>
  </header>

  <aside>
    <p><span class="nick-name">Honey</span></p>
    <p><a href="honey@naver.com">honey@naver.com</a></p>
    <p><time datetime="2022-01-01T00:00:00">2022-04-28</time></p>
    <p>#java</p>
  </aside>

  <section>
    <p>본문<br></p>

    <div>
      <form>
        <label for="articleComment"></label>
        <textarea id="articleComment" placeholder="..." rows="3"></textarea>
        <button type="submit">submit</button>
      </form>

      <ul>
        <li>
          <div>
            <time><small>2022-01-01</small></time>
            <strong>작성자 닉네임</strong>
            <p>
              멋저요! 멋저요! 멋저요! 멋저요!
            </p>
          </div>
        </li>
      </ul>

    </div>
    <nav>
      <a href="#">이전글</a>
      <a href="#">다음글</a>
    </nav>
  </section>
</main>

<footer id="footer"></footer>

</body>
</html>